#header {
  text-decoration: underline;
  text-align: center;
  color: blue;
}

.button {
  border: red 3px solid;
  color: black;
  background-color: green;
  margin: auto 0;
  text-align: center;
}
